# in the local gitconfig, include these lines:
# [include]
#   path = ~/dotfiles/.gitconfig

[alias]
  st = status
  ci = commit
  d  = diff
  dc = diff --cached
  co = checkout
  graph = log --graph --all --decorate
  g = log --graph --decorate --branches
  go = -c log.showSignature=false log --graph --decorate --oneline --branches HEAD
  list = show --name-only
  cp = cherry-pick
  rb = rebase
  b = branch
  su = submodule update --init --recursive
  amend = commit --amend --no-edit
  reword = commit --amend --only

[color]
  ui = true

[push]
  default = upstream

[advice]
  skippedCherryPicks = false
  detachedHead = false

[core]
  commentChar = ";"

[commit]
  gpgsign = true

[log]
  showSignature = true

[submodule]
  recurse = true
  fetchJobs = 20
